:root{
    --regFont: clamp(1rem, 1.2vw, 1.4rem);
    --bigFont: clamp(2rem, 3vw, 2.5rem);
    --smallFont: clamp(0.6rem, 0.7vw, 1rem);

    --white: white;
    --black: #101010;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: "Manrope", sans-serif;
    background-color: white;

    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--white);
        mix-blend-mode: difference;
        z-index: 10000;
        transition: height 0.6s ease;
    }

    &.active::before {
        height: 100%;
    }
}

footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 100%;
    z-index: 6666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--smallFont);

    a{
        text-decoration: underline;
    }
}

nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    padding: 20px;
    width: 100%;
    z-index: 7777;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left{
        h1{
            font-size: var(--regFont);
            color: var(--black);
            font-weight: 900;
        }
    }

    .nav-right{
        .hamburger-icon{
            width: 28px;
            height: 28px;
            overflow: hidden;
            z-index: 99999;
            position: relative;
            display: none;
        }

        .bottom-line, .middle-line{
            stroke-dasharray: 176;  
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 0.3s ease;
            will-change: stroke-dashoffset;
        }

        .hamburger-icon.clicked .bottom-line {
            stroke-dashoffset: 88; 
        }

        .hamburger-icon.clicked .middle-line {
            stroke-dashoffset: 40; 
        }

        display: flex;
        gap: 15px;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 20px;
    }

}

.menu-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8888;
    text-align: right;
    opacity: 0;
    pointer-events: none;
    width: auto;

    &.active{
        opacity: 1;
        pointer-events: all;
        
        &::before{
            opacity: 1;
        }
    }

    li{
        font-size: var(--regFont);
        font-weight: 700;
        text-transform: uppercase;
        transform: translateX(-20px);
        transition: all 0.3s ease;
        transform-origin: right;
        opacity: 0;
        line-height: 1.4;


        &.show{
            transform: translateX(0px);
            opacity: 1;
            transition: all 0.3s ease;
        }
    }
}

#custom-cursor{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url('../media/cursors/cursor.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    mix-blend-mode: exclusion;

    &.right{
        background: url('../media/cursors/cursor_right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
        mix-blend-mode: difference;
    }

    &.left{
        background: url('../media/cursors/cursor_left.svg');
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
        mix-blend-mode: difference;
    }
}

@keyframes hide {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.gallery{
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.9s ease;

    &.hidden{
        display: none;
        opacity: 0;
    }

    &.hide{
        animation: hide 0.5s ease forwards;
    }

    &.show{
        animation: show 0.5s ease forwards;
    }

    .gallery__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        height: auto;

        .img__container{
            width: auto;
            height: 65vh;

            img{
                object-fit: contain;
                height: 100%;
            }
        }

        .gallery__info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            font-size: 20px;
        }
    }

    .ctrl__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 100vw;
        height: calc(60vh + 20px);
    }
}

.projects{
    display: flex;
    gap: 10px;
    width: 100vw;
    overflow-x: scroll;
    height: 100vh;
    padding: 120px 20px 0 20px;
    will-change: scroll-position;
    position: relative;
    scrollbar-width: none;

    &.hidden{
        max-height: 0;
        display: none;
    }

    &.hide{
        animation: hide 0.5s ease forwards;
    }

    &.show{
        animation: show 0.5s ease forwards;
    }

    &::-webkit-scrollbar{
        display: none;
    }

    .back__button{
        height: 40px;
        display: flex;
        position: absolute;
        top: 85px;
        left: 20px;

        a{
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 10px 10px 0px;
            color: var(--black);

            svg{
                fill: var(--black);
                width: 15px;
                height: auto;
                margin-top: 2px;
            }

            span{
                line-height: 1;
            }
        }
    }

    .project{
        flex-shrink: 0;
        width: 30vw;
        height: 100%;
        color: var(--black);
        padding-right: 30px;

        .project__content{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .heading{
                font-size: clamp(1.5rem,2.5vw,3.5rem);
                font-weight: 700;
                line-height: 1;
            }

            .ph_heading{
                height: clamp(1.5rem,2.4vw,3.5rem);
                background-color: rgba(0, 0, 0, 0.2);
                width: 100%;
                border-radius: 2px;
            }

            .text{
                line-height: 1.4;
                margin-bottom: 10px;
                
            }

            .ph_text{
                height: 1rem;
                background-color: rgba(0, 0, 0, 0.2);
                width: 100%;
                border-radius: 2px;
            }

            .preview{
                width: 100%;
                height: auto;

                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border: 1px solid var(--white);
                    transition: border 0.3s ease;

                    image-rendering: crisp-edges;

                    &:hover{
                        border: 1px solid var(--black);
                    }
                }
            }

            .ph_preview{
                background-color: rgba(0, 0, 0, 0.2);
                height: 250px;
                width: 100%;
                border-radius: 2px;
                display: grid;
                place-content: center;
            }

            .ph_button{
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.2);
            }


            .link__button{
                display: flex;
                align-items: center;
                gap: 5px;
                transition: all 0.3s ease;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.impressum{
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    padding: 100px 20px 0 20px;
    background-color: white;
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.9s ease;
    display: flex;

    &.hidden{
        display: none;
        opacity: 0;
    }

    &.hide{
        animation: hide 0.5s ease forwards;
    }

    &.show{
        animation: show 0.5s ease forwards;
    }

    .impressum-container{
        width: 40%;
        text-align: right;
    }

    .datenschutzerklärung{
        height: calc(100% - 60px);
        width: 60%;
        overflow-y: scroll;
        scrollbar-width: none;
        position: relative;
        z-index: 1;

        .datenschutzerklärung__big_header{
            font-size: 20px;
            margin-bottom: 5px;
        }

        .datenschutzerklärung__small_header{
            font-size: 18px;
            margin-bottom: 5px; 
        }

        .datenschutzerklärung__text{
            font-size: 16px;
            margin-bottom: 15px;
            line-height: 1.2;
        }
    }
}