:root{
    --regFont: clamp(1rem, 1vw, 1.2rem);
    --bigFont: clamp(2rem, 3vw, 2.5rem);
    --smallFont: clamp(0.6rem, 0.7vw, 1rem)
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: "Manrope", sans-serif;
    background-color: white;
}

footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 100%;
    z-index: 6666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--smallFont);

    a{
        text-decoration: underline;
    }
}

nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    padding: 20px;
    width: 100%;
    z-index: 7777;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left{
        h1{
            font-size: var(--bigFont);
            color: black;
        }
    }

    .nav-right{
        .hamburger-icon{
            width: 32px;
            height: 32px;
            overflow: hidden;
            z-index: 999;
        }

        .bottom-line, .middle-line{
            stroke-dasharray: 176;  
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 0.3s ease;
            will-change: stroke-dashoffset;
        }

        .hamburger-icon.clicked .bottom-line {
            stroke-dashoffset: 88; 
        }

        .hamburger-icon.clicked .middle-line {
            stroke-dashoffset: 40; 
        }
    }

}

.menu-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8888;
    text-align: right;
    opacity: 0;
    pointer-events: none;

    &.active{
        opacity: 1;
        pointer-events: all;
    }

    li{
        font-size: var(--bigFont);
        font-weight: 500;
        text-transform: uppercase;
        transform: translateX(-20px);
        transition: all 0.3s ease;
        transform-origin: right;
        opacity: 0;


        &.show{
            transform: translateX(0px);
            opacity: 1;
            transition: all 0.3s ease;
        }
    }
}


#custom-cursor{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url('../media/cursors/cursor.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    mix-blend-mode: exclusion;

    &.right{
        background: url('../media/cursors/cursor_right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
        mix-blend-mode: difference;
    }

    &.left{
        background: url('../media/cursors/cursor_left.svg');
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
        mix-blend-mode: difference;
    }
}

.test-btn{
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: auto;
    z-index: 1000000;
    background-color: red;
}

.gallery{
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transform: translateY(0);
    transition: transform 0.9s ease, opacity 0.6s ease;

    &.hidden{
        transform: translateY(-100vh);
        opacity: 0;
        pointer-events: none;
    }

    &.active{
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }

    .gallery__container{
        position: absolute;
        top: 52.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        height: auto;

        .img__container{
            width: auto;
            height: 60vh;

            img{
                object-fit: contain;
                height: 100%;
            }
        }

        .gallery__info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
        }
    }

    .ctrl__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 100vw;
        height: calc(60vh + 20px);
    }
}

.hide-down{
    transform: translateY(100vh);
}

.hide-up{
    transform: translateY(-100vh);
}